@using System.Collections.Generic;
@using TimeKeepingYaz;
@using TimeKeepingYaz.StaticData;
@using TimeKeepingYaz.Models;
@model CheckinsViewModel

@{
    ViewBag.Title = "Chấm công";
}

<div class="" style="color: forestgreen">
    <h2 class="display-4">Chấm công tháng @Model.Month năm @Model.Year</h2>
    <h2>@Model.UserName</h2>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Ngày</th>
            <th>Giờ làm</th>
            <th>Chi chú</th>
            <th>Trạng thái</th>
            <th>Thời gian nhập liệu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dc in Model.Checkins)
        {

            <tr>
                <td>Ngày @dc.Date.Value.Day Tháng @dc.Date.Value.Month</td>
                @if (dc.StatusId == (int)StatusEnum.ApprovedByAdmin)
                {
                    <td>@dc.WorkingHours</td>
                    <td>@dc.Note</td>
                }
                else
                {
                    <td>
                        <a href="#"
                           class="update"
                           data-pk="@dc.Id"
                           data-value="@dc.WorkingHours"
                           data-type="number"
                           data-url="@Url.Action("UpdateWorkingHours", "Checkin")">
                            @dc.WorkingHours
                        </a>
                    </td>
                    <td>
                        <a href="#"
                           class="update"
                           data-pk="@dc.Id"
                           data-value="@dc.Note"
                           data-type="text"
                           data-url="@Url.Action("UpdateNote", "Checkin")">
                            @dc.Note
                        </a>
                    </td>
                }

                <td>
                    @if (dc.StatusId == (int)StatusEnum.Init)
                    {
                        <span class="badge badge-secondary"></span>
                    }
                    else if (dc.StatusId == (int)StatusEnum.CreatedByEmployee)
                    {
                        <span class="badge badge-info">Nhân viên nhập</span>
                    }
                    else
                    {
                        <span class="badge badge-success">Admin xác nhận</span>
                    }
                </td>
                <td>@dc.ModifiedDate</td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.update').editable({
            });
        });
    </script>
}
